<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="client-index" method="post">
            {% csrf_token %}
            <p>Enter stream to watch for activity:</p>
            <input type="text" name="stream_name">
            <input type="submit" value="Start watching">
        </form>
    </body>
</html>